<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release<br>Year</th>
      <th>Genre</th>
      <th>Series<br>Ongoing</th>
    </tr>
  </thead>
  <tbody>
    <% animes.forEach(function(m) { %>
      <tr>
        <td><%= m.title %></td>
        <td><%= m.releaseYear %></td>
        <td><%= m.animeGenre %></td>
        <td><%= m.onGoing ? 'Ongoing' : 'Finished' %></td>
        
        
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
