<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>

</head>
<body>
<nav>
    <a href="/animes" <%- title === 'All Anime' ? 'class="active"' : '' %>>ANIME LIST</a>
    <% if (user) { %>
        <a href="/vactors/new" <%- title === 'Add VActor' ? 'class="active"' : '' %>>
            ADD VOICE ACTOR</a>
        <a href="/animes/new" <%- title === 'Add Anime' ? 'class="active"' : '' %>>ADD AN ANIME</a>
        <a href="/logout">LOG OUT</a>
    <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
</nav>
<main>
    <h1><%= title %></h1>