<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release<br>Year</th>
      <th>Genre</th>
      <th>Series<br>Ongoing</th>
      <th>About</th>
      <% if (user) {%> <!--if the user is logged in, they can see the watchlist header-->
        <th>Watched?</th>
      <%}%>
    </tr>
  </thead>
  <tbody>
    <% animes.forEach(function(m) { %>
      <tr>
        <td><%= m.title %></td>
        <td><%= m.releaseYear %></td>
        <td><%= m.animeGenre %></td>
        <td><%= m.onGoing ? 'Ongoing' : 'Finished' %></td>
        <td><a href="/animes/<%= m._id %>">INFO</a></td>

        <% if (user) {%> <!-- if the user is logged in, they can click a checkbox to add the item to their watchlist-->
          <td><input type="checkbox" name="weebWatching"></td>
        <%}%>

      </tr>
      <% }); %>
    </tbody>
  </table>

  <script>


  </script>
  
<%- include('../partials/footer') %>
