<%- include('../partials/header') %>

<table id="show-list">
    <thead>
        <tr>
        <th>Title:</th>
        <th>Release Year: </th>
        <th>Genre:</th>
        <th>Ongoing Anime?:</th>
        <th>Synopsis: </th>
        <th>Have you watched this?</th>
    </tr>
</thead>

<tbody>
    <tr>
    <td><%= anime.title %></td>
    <td><%= anime.releaseYear %></td>
    <td><%= anime.animeGenre %></td>
    <td><%= anime.onGoing ? 'YEP' : 'Nope' %></td>
   <td><%= anime.animeSynopsis %></td>
   <td><%= anime.weebWatching %></td>
</tr>
</tbody>

    <!-- the logged in user can add cast list members to this anime. -->
    <div>Cast:</div>
    <ul>
        <%- anime.cast.map(p =>
                `<li>${p.name} <small>${p.born.toLocaleDateString()}</small></li>`
        ).join('') %>
    </ul>

</section>

<!-- 'add to cast' form below this comment -->
<form id="add-per-to-cast" action="/animes/<%= anime._id %>/vactors" method="POST">
    <select name="vactorId">
        <%- vactors.map(p =>
                `<option value="${p._id}">${p.name}</option>`
        ).join('') %>
    </select>
    <button type="submit">Add Voice Actors</button>
</form>

<br><br>
<h2>Reviews</h2>

<!-- if user exists and is logged in, the can see the review submit box-->
<% if (user) {%>
    <form id="add-review-form" method="POST" action="/animes/<%= anime._id %>/reviews">
        <label>Review:</label>
        <textarea name="content"></textarea>
        <label>Rating:</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit" value="Add Review">
    </form>
<%}%>
<!-- if not, only show reviews from other people-->


<% if (anime.reviews.length) { %>
    <table>
        <thead> <!-- headers for reviews -->
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Review</th>
            <th>Rating</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% let total = 0 %>
        <% anime.reviews.forEach(function(r) { %>
            <% total += r.rating %>
            <tr>
                <td class="review-user"><img src="<%= r.userAvatar %>"><%= r.userName %></td>
                <td><%= r.createdAt.toLocaleDateString() %></td>
                <td><%= r.content %></td>
                <td><%= r.rating %></td>
                <td>


            <!--if user is logged in and matches the user who left review, they can edit-->
                    <% if (user && user._id.equals(r.user)) { %>

                        <!--form to edit your review-->
                        <form id="hidden-edit">
                            <label>Edit Review</label>
                            <br>
                            <textarea name="content"></textarea>
                            <select name="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                                <button type="submit">Submit Changes</button>
                        </form>

                    <button id="btn">EDIT</button>

                        <script>
                            
                        const btn = document.getElementById('btn');

                    btn.addEventListener('click', () => {
                    const form = document.getElementById('hidden-edit');

                    if (form.style.display === 'none') {
                        form.style.display = 'block'; //show the form 
                    } else {
                        form.style.display = 'none'; // hide teh form
                    }
                    });
                    </script>

                    <% } %>

             <!--if user is logged in and matches the user who left review, they can delete-->
                    <% if (user && user._id.equals(r.user)) { %>
                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                            <button type="submit">DELETE</button>
                        </form>
                    <% } %>
                </td>
            </tr>
        <% }); %>
        <tr>
            <td colspan="3"></td>
            <td><strong><%= (total / anime.reviews.length).toFixed(1) %></strong></td>
        </tr>
        </tbody>
    </table>
<% } else { %>
    <h5>No Reviews Yet. Be the first to leave one!</h5>
<% } %>
